<div class="container-fluid">
    <div class="row">
            <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"><p style="font-size: 20px; color: white">Loading...</p> </ngx-spinner>
        <div class="col-md-12 cargo-form">
 
            <div id="go">
                <div align="center" class="m-5">
                        <img src="../../assets/images/logo.png" alt="logo"/>
                </div>
              
                <h4 class="text-center">Cargo logistics quality and compliance platform</h4>
                    <div class="form-group">
                        <div class="p-2 my-5">
                            <input type="text" class="form-control" [(ngModel)]="bookingId" placeholder="Enter Booking ID / MRN No." name="Booking" (keyup)="onKey($event)">
                          
                            <div *ngIf="isNumNotCorrect">Please enter valid details</div>
                            <div *ngIf="isNotStarted">Driver yet to start to pickup address</div>
                            <div *ngIf="isCancelled">Your Trip was cancelled</div>
                            <button class="btn btn-blue float-right" id="myBtn" (click)="getDeviceDetails(bookingId)" >Submit</button>
                        </div>
                    </div>
                      
                    </div>
                </div>
            </div>
 
 
 
        </div>
       
          
      