.cargo-form {
    background: #d4effd;
    height: 100vh;
    background-image: url('../../assets/images/5.png'); 
    background-repeat: repeat;
    background-size: cover;
 }
 #go {
    left: 50%;
    top: 35%;
    position: absolute;
    padding: 32px 32px 0 32px;
    /* background: rgba(0, 255, 231, 0.25); */
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 .cargo-form h4 {
    color: #1181cb;
    margin-bottom: 3em;
    font-size: 22px;
 }
 .btn-blue {
    background: #1181cb;
    color: #fff;
    border-radius: 2px;
    padding: 5px 28px;
    margin: 2em 0;
 }
 .cargo-form .form-control {
    padding: 1.5em .75rem;
 }
 