.header-section {
    background: #1181cb;
    padding: 15px 0 0;
}

.info-section {
    background: #d4effd;
    padding: 2em 15px;
    height: calc(100vh - 69px);
}

.info-section .data {
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
}

.search {
    position: absolute;
    right: 24px;
    top: 5px;
    cursor: pointer;
}

.search img {
    width: 32px;
}

.logo img {
    width: 138px;
}

.info-section .data .d-block {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
}

.info-section h6 {
    font-size: 14px;
    margin: 0;
}

.info-section p {
    font-size: 13px;
}

.badge {
    font-size: 12px !important;
    background: #ff4d02;
    color: #fff;
}

.booking-id {
    width: 48px;
    background: #1181cb;
    height: 48px;
    border-radius: 50%;
    margin-top: -2.5em;
    margin-bottom: 0.5em;
}

.border-bottom {
    border-bottom: 1px solid #f2f2f2;
}

.booking-id img {
    margin: 10px 5px;
    width: 32px;
}

.map-section {
    padding: 15px;
}

.form-control {
    border-radius: 15px;
}