<div class="container-fluid">
    <div class="row header-section">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <div class="col-md-3 logo">
            <a routerLink="/start"><img src="../../assets/images/logo-white.png" alt="logo" /></a>
        </div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" (keyup)="onKey($event)" placeholder="Enter Booking ID / MRN No." [(ngModel)]="bookingId" name="bookignId" required>
                    <div class="search"><img (click)="getDeviceDetails(bookingId)" src="../../assets/images/search_icon.png" alt="search" id="myBtn" /></div>
                </div>
            </form>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3 info-section ">
            <div class="d-block ">
                <form>
                    <div class="form-group ">
                        <input type="text " class="form-control " (keyup)="onKey($event) " placeholder="Enter Booking ID / MRN No. " [(ngModel)]="bookingId" name="bookignId" required>
                        <div class="search "><img (click)="getDeviceDetails(bookingId) " src="../../tracking/assets/images/search_icon.png " alt="search" id="myBtn" /></div>
                    </div>
                </form>
            </div>
            <div class="data ">
                <div class="border-bottom">
                    <div class="booking-id" align="center">
                        <img src="../../tracking/assets/images/bookingId_white.png " alt="bookling id " />
                    </div>
                    <h6>Booking ID</h6>
                    <p *ngIf="details != null ">{{details?.truckDetails.bookingId}}</p>
                    <p *ngIf="details== null ">---</p>
                </div>

                <div class="d-block ">
                    <div class="d-inline-block " style="width: 85% ">
                        <h6>Pickup Address</h6>
                        <p *ngIf="details !=null">{{details?.truckDetails.locationAddress}}</p>
                        <p *ngIf="details == null">---</p>
                    </div>
                    <div class="d-inline-block float-right ">
                        <img src="../../tracking/assets/images/pickup_Address.png " width="32 " />
                    </div>
                </div>


                <div class="d-block ">
                    <div class="d-inline-block " style="width: 85% ">
                        <h6>Unload Address</h6>
                        <p *ngIf="details == null">---</p>
                        <p *ngIf="details !=null">{{details?.truckDetails.dropAddress}}</p>

                    </div>
                    <div class="d-inline-block float-right ">
                        <img src="../../tracking/assets/images/pickup_Address.png " width="32 " />
                    </div>
                </div>
                <div class="d-block ">
                    <div class="d-inline-block " style="width: 85% ">
                        <h6>Trip Status</h6>
                        <div *ngIf="details != null && details.truckDetails.truckName != undefined">
                            <p *ngIf="details.truckDetails.enrouteStatus == 'P' && details.truckDetails.dropStatus == 'N'">Loading in progress</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'E' && details.truckDetails.dropStatus == 'N'">Enroute to loading</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'N'">Pickup completed</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'E'">Enroute to unloading</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'N' && details.truckDetails.dropStatus == 'E'">Pickup not completed</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'U'">Unloading in progress</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'D'">Trip Completed</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'N' && details.truckDetails.dropStatus == 'N'">Trip not started</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'C' && details.truckDetails.dropStatus == 'N'">Cancelled Trip</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == undefined && details.truckDetails.dropStatus == undefined">Not Available</p>
                        </div>
                        <div *ngIf="details != null && details.truckDetails.truckName === undefined">
                            <p *ngIf="details.truckDetails.enrouteStatus == 'P' && details.truckDetails.dropStatus == 'N'">Loading in progress</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'E' && details.truckDetails.dropStatus == 'N'">Enroute to loading</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'N'">Pickup completed</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'E'">Enroute to unloading</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'N' && details.truckDetails.dropStatus == 'E'">Pickup not completed</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'U'">Unloading in progress</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'L' && details.truckDetails.dropStatus == 'D'">Trip Completed</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'N' && details.truckDetails.dropStatus == 'N'">Trip not started</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == 'C' && details.truckDetails.dropStatus == 'N'">Cancelled Trip</p>
                            <p *ngIf="details.truckDetails.enrouteStatus == undefined && details.truckDetails.dropStatus == undefined">Not Available</p>
                        </div>


                        <p *ngIf="details == null">---</p>

                    </div>
                </div>

                <div class="d-block ">
                    <div class="d-inline-block ">
                        <h6>Truck Number</h6>
                        <p *ngIf="details != null && (details.truckDetails?.truckName != undefined || details.truckDetails?.truckName == '' )">{{details.truckDetails.truckName}}</p>
                        <p *ngIf="details != null && (details.truckDetails?.truckName === undefined  && details.truckDetails?.enrouteStatus != undefined && details.truckDetails?.dropStatus != undefined)">Not Available</p>
                        <p *ngIf="details != null && ( (details.truckDetails?.truckName === undefined || details.truckDetails?.truckName === '') && (details.truckDetails?.enrouteStatus == undefined && details.truckDetails?.dropStatus == undefined )) || ( (details.truckDetails?.truckName == undefined || details.truckDetails?.truckName == '')  && ( details.truckDetails?.truckId != null && details.truckDetails?.truckId != undefined && details.truckDetails?.truckId != '' ) )">
                            Truck is not assigned</p>

                        <p *ngIf="details == null">---</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 map-section" id="map">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60895.40874801576!2d78.30772227910155!3d17.4614827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1553319333249 " frameborder="0 " style="border:0;width:
                        100%; height: calc(100vh - 105px); "
                allowfullscreen></iframe> -->
        </div>
    </div>
</div>